<<<<<<< HEAD
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

=======
>>>>>>> c199256c47fc1e2e17c01df163f3cbd7e1e4cb76
#calculator {
    display: grid;
    grid-template-areas:
        "display display display display"
        "sp_buttons num_buttons num_buttons calc_buttons";
<<<<<<< HEAD
    gap: 50px;
    width: 600px;
    height: 700px; /* задайте высоту для отображения фона */
    background-image: url(calc.png);
    background-size: cover; /* чтобы изображение полностью покрывало фон */
    background-position: center; /* выравнивание по центру */
=======
    gap: 10px;
    width: 300px;
>>>>>>> c199256c47fc1e2e17c01df163f3cbd7e1e4cb76
}

#display {
    font-family: "Electronica";
<<<<<<< HEAD
    margin-top: 260px;
    margin-left: 70px;
    text-shadow: 2px 1px 1px blue;
    grid-area: display;
    width: 455px;
=======
    margin-top: 337px;
    text-shadow: 2px 1px 1px blue;
    grid-area: display;
    width: 100%;
>>>>>>> c199256c47fc1e2e17c01df163f3cbd7e1e4cb76
    height: 40px;
    background-color: rgb(26, 24, 24);
    color: aqua;
    text-align: left;
    font-size: 40px;
}

#buttons1, #buttons2, #buttons3 {
    display: grid;
<<<<<<< HEAD

=======
    gap: 10px;
>>>>>>> c199256c47fc1e2e17c01df163f3cbd7e1e4cb76
}

#buttons1 {
    grid-area: sp_buttons;
    grid-template-columns: repeat(1, 1fr);
<<<<<<< HEAD
    margin-left: 50px; /* Поднимаем блок с кнопками слева */
    height: 50px;
=======
>>>>>>> c199256c47fc1e2e17c01df163f3cbd7e1e4cb76
}

#buttons2 {
    grid-area: num_buttons;
<<<<<<< HEAD
    height: 50px;
    grid-template-columns: repeat(3, 1fr);
    gap: -10px;
    margin-right: -20px;
    margin-bottom: 50px;
=======
    grid-template-columns: repeat(3, 1fr);
>>>>>>> c199256c47fc1e2e17c01df163f3cbd7e1e4cb76
}

#buttons3 {
    grid-area: calc_buttons;
    grid-template-columns: repeat(2, 1fr);
<<<<<<< HEAD
    margin-right: 90px; /* Поднимаем блок с кнопками слева */
    height: -20px;
    gap: -10px;
=======
>>>>>>> c199256c47fc1e2e17c01df163f3cbd7e1e4cb76
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    height: 50px; /* Увеличиваем высоту кнопок */
    width: 25px; /* Фиксируем ширину кнопок */
    background-color: rgb(36, 29, 29); /* Темно-серый цвет кнопок */
    color: white;
    border: 1px solid #333; /* Более темная рамка */
    padding: 0 22px;
    font-size: 18px; /* Увеличиваем размер шрифта */
    cursor: pointer;
    border-radius: 6px; /* Закругляем углы для большей схожести */
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5), 0 2px 2px rgba(0, 0, 0, 0.5); /* Внутренняя тень для эффекта углубления */
=======
    height: 40px;
    background-color: rgb(36, 29, 29);
    color: white;
    border: 1px solid #ccc;
    font-size: 16px;
    cursor: pointer;
>>>>>>> c199256c47fc1e2e17c01df163f3cbd7e1e4cb76
}

#buttons1 .buttons:nth-child(4) {
    background-color: red;
    color: white;
}
<<<<<<< HEAD

#buttons2 .buttons:nth-child(10) {
    width: 100;
}

.buttons:active {
    box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.7); /* Эффект нажатия */
}

/* Увеличиваем кнопку "0" */
#buttons2 .buttons:nth-child(10) {
    grid-column: span 2; /* Занимает две колонки */
    width: 100px;
}

/* Увеличиваем кнопку "=" */
#buttons3 .buttons:nth-child(6) {
    grid-row: span 2; /* Занимает две строки */
    height: 130px; /* Увеличиваем высоту */
}
=======
>>>>>>> c199256c47fc1e2e17c01df163f3cbd7e1e4cb76
