body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    display: grid;
    grid-template-areas:
        "display display display display"
        "sp_buttons num_buttons num_buttons calc_buttons";
    gap: 50px;
    width: 600px;
    height: 700px; /* задайте высоту для отображения фона */
    background-image: url(calc.png);
    background-size: cover; /* чтобы изображение полностью покрывало фон */
    background-position: center; /* выравнивание по центру */
}

#display {
    font-family: "Electronica";
    margin-top: 260px;
    margin-left: 70px;
    text-shadow: 2px 1px 1px blue;
    grid-area: display;
    width: 455px;
    height: 40px;
    background-color: rgb(26, 24, 24);
    color: aqua;
    text-align: right;
    font-size: 40px;
}

#buttons1, #buttons2, #buttons3 {
    display: grid;
}

#buttons1 {
    grid-area: sp_buttons;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 50px; /* Поднимаем блок с кнопками слева */
    height: 50px;
    margin-top: 50px;
}

#buttons2 {
    grid-area: num_buttons;
    height: 50px;
    grid-template-columns: repeat(3, 1fr);
    gap: -10px;
    margin-right: -20px;
    margin-top: 50px;
}

#buttons3 {
    grid-area: calc_buttons;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 90px; /* Поднимаем блок с кнопками слева */
    height: -200px;
    gap: -10px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 50px; 
    width: 25px; 
    background-color: rgb(36, 29, 29); 
    color: white;
    border: 1px solid #333; 
    padding: 0 22px;
    font-size: 25px; 
    cursor: pointer;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5), 0 2px 2px rgba(0, 0, 0, 0.5); 
}

#buttons1 .buttons:nth-child(4) {
    background-color: red;
    color: white;
}

#buttons2 .buttons:nth-child(10) {
    width: 100;
}

.buttons:active {
    box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.7); /* Эффект нажатия */
}

/* Увеличиваем кнопку "0" */
#buttons2 .buttons:nth-child(10) {
    grid-column: span 2; /* Занимает две колонки */
    width: 100px;
}

/* Увеличиваем кнопку "=" */
#buttons3 .buttons:nth-child(6) {
    grid-row: span 2; /* Занимает две строки */
    height: 101.5px; /* Увеличиваем высоту */
}
form {
    position: absolute;
    top: 10px;
    right: 10px;
}

input[type="submit"] {
    width: 200px; /* Ширина кнопки */
    height: 60px; /* Высота кнопки */
    font-size: 20px; /* Размер текста на кнопке */
    padding: 10px;
    background-color: #4CAF50; /* Цвет фона кнопки */
    color: white; /* Цвет текста */
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049; /* Цвет фона при наведении */
}
